<!DOCTYPE html>
<html>
  <head>
    <title>your-thermostat</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <section class="thermostat">

      <section id="title">
        <h1>yourThermostat</h1>
      </section>

      <section id="rainbowbutton">
        <article class="de">
          <article class="den">
            <article class="dene">
              <article class="denem">
                <article class="deneme">
                  <h2 class="numbers">temperature</h2><strong>&deg;</strong>
                </article>
              </article>
            </article>
          </article>
        </article>
      </section>

      <section class='buttons'>
        <br><a href="#" class="increase_temperature">hotter</a>
        <br><a href="#" class="decrease_temperature">colder</a>
        <br><a href="#" class="reset">reset!</a>
      </section>

      <section class="checkbox">
        <input class="css-checkbox" type="checkbox" id="c1" name="power_saver_on" />
        <label class="css-label" for="c1">Power Saver OFF</label>
      </section>
      </section>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="thermostat.js"></script>
    <script src="interface.js"></script>

  </body>
</html>
