html, body { height: 100%; }
body { background: #f2f2f2; }

/*============
    TITLE
 ============*/

h1 {
    margin-bottom: 20%;
    text-align:center;
    font-family: 'Dosis';
    font-size: 200%;
    color: #555;
}


/*==============
    THERMOSTAT
 ==============*/

.thermostat {
    width:240px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*=============*/

.container { width: 300px; margin: 10px auto 0; border: 2px black solid; }

.de .den, .de .dene, .de .denem, .de .deneme { 
    position: absolute; 
    left: 50%; top: 50%; }

.de {
    position: relative;
    width: 240px;
    height: 240px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    background-color: transparent;
    margin-bottom: 15%;
}
.den {
    position: relative;
    width: 210px;
    height: 210px;
    margin: -105px 0 0 -105px;
    border-radius: 100%;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, .5), 0 2px 20px rgba(255, 255, 255, 1);
    background: yellow;
    position:relative;
}
.dene {
    width: 180px;
    height: 180px;
    margin: -90px 0 0 -90px;
    border-radius: 100%;
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, .4), 0 3px 13px rgba(0, 0, 0, .85);
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
}
.denem {
    width: 160px;
    height: 160px;
    margin: -80px 0 0 -80px;
    border-radius: 100%;
    background: #cbd5d6;
    background: -moz-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cbd5d6), color-stop(100%, #f2f6f5));
    background: -webkit-linear-gradient(top, #cbd5d6 0%, #f2f6f5 100%);
}

.deneme {
    padding: 3px 10px 0 10px;
    width: 120px;
    height: 137px;
    display: inline-block;
    margin: -70px 0 0 -70px;
    color: #555;
    text-shadow: 1px 1px 1px white;
    font-family: 'Dosis';
    font-size: 100px;
    font-weight: 400;
    text-align: center;
}
.deneme span { font-size: 30px; font-weight: 200; }
.deneme strong { position: absolute; right: 10px; top: 25px; font-size: 34px; }
.numbers {
    font-family: 'Dosis';
    color: #555;
    font-size: 100%;
    margin-top: 3%;
}

#rainbowbutton {
    text-align: center;
}

/*===============
    BUTTONS
 ===============*/

.increase_temperature {
    display:block;
    width: 108px;
    height: 30px;
    text-decoration: none;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    border: 1px solid #D73A0C;
    margin-bottom:5%;
    background: rgb(223, 117, 20);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.decrease_temperature {
    display:block;
    text-decoration: none;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    width: 108px;
    height: 30px;
    border: 1px solid #D73A0C;
    margin-bottom:5%;
    background: rgb(223, 117, 20);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.reset {
    display:block;
    text-decoration: none;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    width: 108px;
    height: 30px;
    border: 1px solid #D73A0C;
    background: rgb(223, 117, 20);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
}

section.buttons {
    width:108px;
    font-family: 'Source Code Pro';
    margin-top: 1%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

/*=============
    CHECKBOX
 =============*/

section.checkbox {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}

/*========================================
  ALL THERMOSTAT WITH WRITINGS AND BOTTONS
 ========================================*/

section.all{
    width: 240px;
    margin: auto;
    margin-top: 13%;
}
